*{
  box-sizing:border-box;
}

html, body{
  margin: 0;
  padding: 0;
  background: #4b4b4b;
  font-family: Montserrat,sans-serif;
}

header{
  position:fixed;
  top: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 5px 3% 5px 5%;
  background: transparent;
  box-shadow: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  transition: ease-in-out 0.8s;
}

.logo{
  width: 120px;
  height: auto;
  padding-top: 5px;
}

.navbutton{
  position: relative;
  width: 50px;
  height: auto;
  padding: 0;
}

.navbutton>label{
  cursor: pointer;
  display: inline-block;
}

.logo img{
  display: inline-block;
  width: 100%;
  height: auto;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
}

.navbutton>label img{
  width: 100%;
  height: auto;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
}

.navbutton>input{
  position: absolute;
  visibility: hidden;
}


nav{
  position: fixed;
  top: 0;
  right: -35vw;
  width: 30vw;
  height: 100vh;
  color: white;
  background: #495057;
  transition: right 0.5s ease-out;
  box-shadow: -3px 0px 3px rgba(0, 0, 0, 0.3);
  overflow: auto;
  z-index: 2;
}

nav>label{
  position: relative;
  display: inline-block;
  padding: 5px 8px;
  margin: 10px;
  left: 100%;
  transform: translateX(-150%);
  background: transparent;
  border: 3px solid white;
  border-radius: 50%;
  color: white;
  font-size: 1.5em;
}

nav ul{
  width: 100%;
  height: auto;
  padding: 4px;
  list-style: none;
  margin-bottom:100px;
}

nav ul li a{
  display: inline-block;
  width: 100%;
  text-decoration: none;
  outline: none;
  font-size: 1.3em;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 10px 0;
}

.visit{
  background: #e5383b;
}

nav>label:hover{
  background: #e5383b;
}

nav ul li a:hover{
  border: 2px solid white;
}

#radionav:checked ~ nav{
  right: 0;
}


/*image slider block*/

.slider_container{
  position: relative;
  width: 100%;
  height: 400px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.slider_container>input{
  position: absolute;
  visibility: hidden;
}

.slider{
  width: 600%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  transition: ease-out 0.5s margin;
}

.slide{
  position: relative;
  width: 16.6666%;
  height: 100%;
  overflow: hidden;
}

.slide img{
  display: block;
  width: 100%;
  height: 100%;
}

.slide span{
  position: absolute;
  visibility: hidden;
  text-align: center;
  opacity: 0.3;
  display: inline-block;
  transition-timing-function: ease-out;
  transition-duration: 0.6s;
  transition-delay: 0.5s;
}

.slide1span{
  bottom: 25%;
  left: -20%;
  font-size: 3em;
  font-weight: bold;
  color: white;
  padding: 10px 25px 10px 40px;
  background: rgba(255, 0, 0, 0.4);
  transform: skewX(-20deg);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition-property: opacity,left;
}

.slide2span{
  bottom: 15%;
  left: 5%;
  font-size: 2em;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  background: rgba(0,0,0,0.6);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  transition-property: opacity,left;
}

.slide3span{
  top: 40%;
  left: 50%;
  font-size: 2em;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transform: translate(-50%,-50%);
  transition-property: opacity,top;
}

.slide4span{
  bottom: 2%;
  left: 50%;
  font-size: 2em;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  transform: translate(-50%,-50%);
  transition-property: opacity,bottom;
}

.slide5span{
  bottom: 2%;
  left: 10%;
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  transform: translateY(-50%);
  transition-property: opacity,bottom;
}

.slide6span{
  top: 45%;
  right: 10%;
  font-size: 2em;
  font-weight: bold;
  color: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  background: rgba(255, 0, 0, 0.3);
  padding: 10px 20px;
  transform: translateY(-50%);
  transition-property: opacity,top;
}


.slide_selector{
  position: absolute;
  width: 25%;
  bottom: 5%;
  left: 30%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.slide_selector label{
  display: inline-block;
  width: 10px;
  height: 10px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: ease 0.5s background;
}

.slide_selector label:hover{
  background: #e5383b;
}

#radioslider1:checked~.slider{
  margin-left: 0;
}

#radioslider1:checked~.slide_selector #selector_button1{
  background: #e5383b;
}

#radioslider1:checked~.slider .slide .slide1span{
  visibility: visible;
  opacity: 1;
  left: -20px;
}

#radioslider2:checked~.slider{
  margin-left: -100%;
}

#radioslider2:checked~.slide_selector #selector_button2{
  background: #e5383b;
}

#radioslider2:checked~.slider .slide .slide2span{
  visibility: visible;
  opacity: 1;
  left: 10%;
}

#radioslider3:checked~.slider{
  margin-left: -200%;
}

#radioslider3:checked~.slide_selector #selector_button3{
  background: #e5383b;
}

#radioslider3:checked~.slider .slide .slide3span{
  visibility: visible;
  opacity: 1;
  top: 45%;
}

#radioslider4:checked~.slider{
  margin-left: -300%;
}

#radioslider4:checked~.slide_selector #selector_button4{
  background: #e5383b;
}

#radioslider4:checked~.slider .slide .slide4span{
  visibility: visible;
  opacity: 1;
  bottom: 5%;
}

#radioslider5:checked~.slider{
  margin-left: -400%;
}

#radioslider5:checked~.slide_selector #selector_button5{
  background: #e5383b;
}

#radioslider5:checked~.slider .slide .slide5span{
  visibility: visible;
  opacity: 1;
  bottom: 5%;
}

#radioslider6:checked~.slider{
  margin-left: -500%;
}

#radioslider6:checked~.slide_selector #selector_button6{
  background: #e5383b;
}

#radioslider6:checked~.slider .slide .slide6span{
  visibility: visible;
  opacity: 1;
  top: 50%;
}

/*page starts here*/

.aboutandenquiry_container{
  width: 100%;
  height: auto;
  margin: 1em 0 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.aboutus_container{
  width: 55%;
  height: auto;
  color: white;
}

.aboutus_container h2{
  font-size: 2em;
}

.aboutus_container p{
  text-indent: 4em;
  line-height: 1.7em;
}

.aboutus_container a{
  position: relative;
  outline: none;
  text-decoration: none;
  display: inline-block;
  color: white;
  margin-top: 3em;
  font-size: 1.5em;
  padding: 5px 20px;
  text-align: center;
  border: 2px solid white;
  left: 100%;
  transform: translateX(-100%);
}
.aboutus_container a:hover{
  background: rgba(255, 0, 0, 0.3);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.enquiry_container_parent{
  width: 35%;
  height: auto;
  margin: 0;
  padding-top: 40px;
}

.enquiry_container{
  position: relative;
  width: 100%;
  top: -25%;
  height: auto;
  padding: 40px 0 40px;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  background: #ff4d4d;
}
.enquiry_container h2{
  color: white;
  margin: 0 0 30px;
  text-align: center;
}
.enquiry_container>form{
  width: 85%;
  height: auto;
  margin: 0 auto;
}
.form_input{
  display: block;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid silver;
  outline: none;
  text-decoration: none;
  color: white;
  font-family: Montserrat, san-serif;
  font-size: 1.2em;
  padding: 5px 10px 5px;
  margin-bottom: 10px;
}
.enquiry_container input[type="submit"]{
  display: block;
  width: 50%;
  margin: 30px auto 10px;
  outline: none;
  border: 2px solid white;
  background: transparent;
  font-family: Montserrat, san-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 0.5em;
}
.enquiry_container input[type="submit"]:hover{
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.enquiry_edge{
  position: absolute;
  width: 50px;
  height: 50px;
  background: #ff4d4d;
  right: 5%;
  bottom: 0;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  transform: translateY(43%) rotate(45deg);;
}

/*aboutus enquiry ends here*/
.shortcuts_panel{
  width: 95%;
  height: auto;
  color: white;
  background: #3d3d3d;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 20px auto 40px;
  padding: 25px 0 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.shortcut{
  width: 23%;
  height: auto;
  background: #4d4d4d;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin-bottom: 15px;
}

.shortcut>a{
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  outline: none;
}
.shortcut>a:hover>img{
  width: 55%;
}

.shortcut img{
  display: block;
  width: 50%;
  height: auto;
  margin: 2em auto;
  transition: ease 0.5s;
}

.shortcut_title{
  display: block;
  width: 100%;
  text-align: center;
  margin: 0.5em 0 0.8em;
  font-size: 1.4em;
  font-weight: lighter;
}

.shortcut_learn{
  display: block;
  width: 100%;
  text-align: center;
  color: silver;
  margin: 0 0 1.5em;
  font-size: 0.9em;
  padding: 0 10px;
  font-weight: lighter;
  font-style: italic;
}

/* shortcuts ends here*/

.info{
  width: 100%;
  height: auto;
  color: silver;
  background: #3d3d3d;
  padding: 20px 2% 30px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.3);
  display: flex;
  flex-flow: row wrap;
  font-size: 1em;
}
.info>div{
  max-width: 80%;
  min-width: 50%;
  padding: 10px 30px;
}
.info h2{
  color: #c23616;
  margin-bottom: 10px;
}
.info hr{
  border: 1px solid silver;
  background: silver;
  margin-bottom: 1.5em;
}
.info_logo{
  width: 90%;
}
.info_logo img{
  display: block;
  width: 150px;
  height: auto;
}
.info_services ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.info_services ul li{
  padding: 0.5em 0;
}

.info_con_name{
  font-size: 1.1em;
  margin-bottom: 5px;
}

.info_con_name + p{
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 2em;
}
.info_address a{
  display: block;
  text-decoration: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  width: 250px;
  height: auto;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  margin-top: 20px;
  transition: ease 0.5s width;
}
.info_address a img{
  display: block;
  width: 100%;
  height: auto;
}
.info_address a:hover{
  width: 270px;
}

.info_connect a{
  display: inline-block;
  text-decoration: none;
  outline: none;
  font-size: 2em;
  color: silver;
  font-weight: bold;
  border: 4px solid silver;
  width: 50px;
  height: 50px;
  text-align:center;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}
footer{
  width: 100%;
  height: auto;
}
footer p{
  margin: 0;
  padding: 15px 0;
  text-align: center;
  color: silver;
  font-size: 0.6em;
}


/*media queries*/

@media screen and (max-width: 600px){
  nav{
    top: -100vh;
    right: 0;
    width: 100vw;
    height: 100vh;
    transition: top 0.5s ease-out;
    box-shadow: none;
  }
  nav ul li a{
    font-size: 1.6em;
    padding: 15px 0;
  }
  nav ul{
    width: 80%;
    margin: 0 auto;
  }
  #radionav:checked ~ nav{
    top: 0;
  }
  .slide1span{
    font-size: 2em;
  }
  .slide2span{
    font-size: 1.5em;
  }
  .slide3span{
    font-size: 1.5em;
  }
  .slide4span{
    font-size: 1.5em;
  }
  .slide5span{
    font-size: 2em;
  }
  .slide6span{
    font-size: 1.5em;
  }
}
@media screen and (max-width: 900px){
  .slide_selector{
    left: 50%;
  }
  .aboutandenquiry_container{
    flex-flow: column;
  }
  .aboutus_container{
    width: 90%;
    margin: 0 auto;
  }
  .enquiry_container_parent{
    width: 100%;
  }
  .enquiry_container{
    width: 95%;
    top: 0;
    box-shadow: none;
  }
  .enquiry_edge{
    box-shadow: none;
  }

  .shortcut{
    width: 45%;
  }
  .shortcuts_panel{
    margin-top: 50px;
  }
}
