.list_container{
  position: relative;
  width: 96%;
  height: auto;
  background: #3d3d3d;
  color: white;
  padding: 1em 0;
  margin: 20px auto;
  border-radius: 10px;
}
.list_item{
  width: 95%;
  height: auto;
  background-color: #4b4b4b;
  margin: 1.5em auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-flow: row nowrap;
}
.list_img{
  width: 40%;
  height: auto;
  border-right: 3px solid silver;
  overflow: hidden;
}
.list_img>img{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  min-height: 60%;
  max-height: 100%;
}
.list_contents{
  width: 60%;
  height: auto;
  padding: 1em;
}
.list_contents>h2{
  text-align: center;
  color: white;
}
.list_contents>p{
  text-indent: 4em;
  text-align: left;
  padding: 0 0.8em;
  word-spacing: 0.2em;
  color: #f8f8f8;
  line-height: 1.4em;
}
.list_contents>a{
  position: relative;
  display: inline-block;
  text-decoration: none;
  outline: none;
  color: white;
  background: rgba(255, 0, 0, 0.3);
  padding: 10px 20px;
  border-radius: 5px;
  left: 100%;
  transform: translateX(-110%);
  margin-top: 20px;
}
.list_contents>a:hover{
  background: rgba(255, 0, 0, 0.5);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 800px){
  .list_container{
    background: #4b4b4b;
    border-radius: none;
  }
  .list_item{
    border-radius: 10px;
    flex-flow: column;
    background: #3d3d3d;
  }
  .list_img{
    width: 100%;
    height: 250px;
    border-right: none;
    border-bottom: 3px solid silver;
  }
  .list_img>img{
    width: 100%;
    height: 100%;
  }
  .list_contents{
    width: 100%;
  }
}
